.eid-table {
    display: table;
    border-bottom: 1px solid #525252;
}

.eid-row {
    display: table-cell;
    margin:5px 0px 5px 0px;
    
}

.eid-row span {
    text-align: center;
    padding: 5px 10px;
    border-right: 1px solid #A1A1A1;
}