a, a:visited {
    color: #09757a;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: #D8EFEF
}

button {
    border: none;
    background: #D8EFEF;
    cursor: pointer;
}

#reset {
    border: 1px solid #111;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
}

.datagrid table tbody td {
    color: #111;
    font-size: 12px;
    font-weight: 400;
}

.datagrid table td {
    padding: 3px 10px;
}

.datagrid table th {
    padding: 8px 10px;
}

.tablesorter-default td {
    background-color: #fff;
    border-bottom: #ccc 1px solid;
    padding: 4px;
    vertical-align: top;
}
tr, td {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tbody tr:hover {
    background-color: #D8EFEF;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 0;
}

.tablesorter-default {
    width: 100%;
    font: 12px/18px Arial, Sans-serif;
    color: #333;
    background-color: #fff;
    border-spacing: 0;
    margin: 10px 0 15px;
    text-align: left;
}

#searchNames {
    /* background-image: url('/css/searchicon.png'); Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95.5%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.ascii-art, .github-link  {
    text-align: center;
    margin-top: 10px;
}
